body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding: 20px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}

#developer {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

#score {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
